@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Lobster&display=swap');

/* Variable Definitions */
:root {
  --color-main: #074F57;
  --color-secondary: #da6c58;
  --color-tertiary: #FDEBC3;
  --color-quad: #73291C;
  --shadow: rgba(0, 0, 0, 0.25);
  --heading-font: Lobster;
  --body-font: Lato;
}

/* Small View */
body {
  background-color: var(--color-tertiary);
}

header,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-main, teal);
  color: var(--color-tertiary);
  min-height: 8vh;
}

.logo {
  font-family: var(--heading-font, cursive);
  font-size: 3em;
  text-align: center;
}

nav ul {
  text-align: center;
  margin: 0px;
  margin-left: -10vw;

}

nav li {
  text-align: center;
  display: inline-block;
  padding: 2vw;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

nav li a {
  font-family: var(--body-font);
  font-weight: 900;
}

a:hover {
  color: var(--color-secondary);
  text-decoration: underline;
}

main {
  display: grid;
  color: black;
  max-width: 85vw;
  margin: 0px auto;
  font-size: 1.25em;
  font-family: var(--body-font, sanserif);
  grid-template-columns: 1fr;
  grid-gap: 2vh;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--color-main, teal);
  margin: 0px;
}

.screenshot {
  text-align: center;
  padding: 1vh 0vw;
  color: black;
}

.screenshot img {
  max-width: 42vw;
}

.designPrinciple {
  display: block;
  padding: 2vh 3vw;
  background-color: rgb(250, 250, 250, .5);
  border-radius: 2.5em;
  margin: 2vh 0vw;
}

@media screen and (min-width:750px) {
  main {
    grid-template-columns: 1fr 1fr;
  }

  .introduction {
    grid-column: span 2;
  }
}

@media screen and (min-width:950px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
  .introduction {
    grid-column: span 3;
  }
}