html, body{
  margin: 0;
  padding: 0;
  background: #000;
}

article{
  display: grid;
  grid-gap: 2em;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  align-items: center;
  justify-items: center;
}

article img[data-src] {
  filter: blur(0.2em);
}

article img {
  filter: blur(0em);
  transition: filter 0.5s;
}


header{
  padding: 1em;
  height: 10vh;
  min-height: 5em;
  background-color: rgba(16, 16, 131, 0.267);
  color:white;
  text-align: center;
}

h1{
  margin: 0;
  padding: .5em;
}

#notice{
  background-color: #ccc;
  border-radius: 2em;
  padding: 1em;
  display: flex;
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  max-width: 20vw;
  z-index: 6;
  text-align: center;
}
@media screen and (max-width: 700px){
  #notice{
    padding: 0 .5em;
    max-width: 100%;
    right:5vw;
    left: 5vw;
    justify-content: center;
  }
}

