body {
  font-family: 'Merriweather Sans', Calibri, sans-serif;
  margin: 0;
  padding: 0;
}

#banner {
  text-align: center;
  background-color: #ea7317ff;
  padding: 2em;
}

#banner h2,
#banner p {
  margin: .5em;
  color: #ffffff;
}

header {
  z-index: 5;
  display: grid;
  position: sticky;
  top: 0;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: .5em;
  align-content: center;
  height: fit-content;
  background-color: #ffffff;
  box-shadow: 0 0 2em rgba(0, 0, 0, .5);
}

h1,
h2,
h3 {
  font-family: 'Bree Serif', Cambria, serif;
}

.logo-box img {
  max-height: 100%;
  width: auto;
}

.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1vw;
}

.company h2 {
  margin: 0;
  font-size: 5vw;
}

.company p {
  margin: 0;
  font-size: 2.5vw;
  font-style: italic;
}

header button {
  margin: .2rem 4%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #2364aaff;
  text-align: center;
}

nav {
  background-color: #2364aaff;
  font-family: 'Merriweather Sans', Calibri, sans-serif;
  font-size: 1.1em;
  grid-column: 1/-1;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, .3);
  transition: .35s;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, .4);
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.35);
  color: #ea7317ff;
  font-weight: 900;
}

h1 {
  color: #2364aaff;
  padding-left: 2%;
}

main {
  width: auto;
}

.hero picture {
  max-width: 100%;
}

.five-day {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  grid-row-gap: 1.5em;
  padding-bottom: 1.5em;
}

.five-day h2 {
  text-align: center;
  background-color: rgba(0, 0, 0, .1);
  margin: 0;
  padding: 1em;
  grid-column: 1/-1;
}

img {
  width: 100%;
}

.hero-text,
article,
footer {
  padding: 2em;
}

section,
.five-day {
  border: 1px solid #000000;
}

.five-day,
footer {
  background-color: #73bfb8ff;
}

.towns{
  background-color: #2364aaff;
}

.towns article{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.493);
  border: .25em solid #ffffff;
  align-items: center;
  transition: .5s;
}

.towns article:hover{
  background-color: transparent;
}

.towns article a{
  text-decoration: none;
  color: #ffffff;
  width: 100%;
}

.town-text{
  text-align: center;
  width: 100%;
}

.towns img{
  max-width: 400px;
  margin: 0 auto;
}

.five-day img {
  border: 1px solid rgba(0, 0, 0, .3);
  justify-self: center;
}

aside{
  display: grid;
  align-items: center;
  justify-items: center;
  color: #ffffff;
  background-color: #2364aaff;
  margin: 1em 0;
}

aside ul{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  list-style-type: none;
  border-top: .25em solid #ffffff;
}
aside li{
  padding: 1em;
}

aside li:nth-child(even){
  background-color: rgba(0, 0, 0, .5);
}

aside li:nth-child(odd){
  background-color: rgba(0, 0, 0, .3);
}

aside a{
  color: #ffffff;
  text-decoration: none;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

footer a {
  display: block;
  padding: .75rem;
  color: #000000;
}

.footer-bar {
  color: #000000;
  margin-top: 1em;
  text-align: center;
}
.footer-bar a{
  color: #ffffff;
}

.hidden {
  display: none;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.img-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  grid-gap: 1em;
}

.img-box p {
  text-align: center;
}

picture img[data-src] {
  filter: blur(0.3em);
}

.img-box img {
  filter: blur(0em);
  transition: filter 0.7s;
}

.storm-head{
  text-align: center;
}
/* Form Styles */
form {
  margin: 0 auto;
  width: auto;
}

form fieldset {
  border-color: #ea7317ff;
  border-radius: 15px;
  margin: 1em 0;
  padding: 1.25em 0;
}

form legend {
  margin-left: 1.5em;
  font-weight: 800;
  font-family: 'Merriweather Sans', Calibri, sans-serif;
}

form label,
form div {
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-bottom: .5em;
  width: 88%;
}

form textarea {
  width: 100%;
  margin: 0;
  padding: 0;
}

form input {
  width: 100%;
}

form label input:required {
  border-left: solid red 6px;
  background-color: rgba(234, 114, 23, 0.301);
}

form label input:required:valid {
  border-left: solid green 6px;
  background-color: rgba(0, 128, 0, 0.281);
}

form #s-val {
  font-weight: 800;
}


form label.sbs {
  float: left;
  text-align: center;
  padding: .75rem 0;
  width: 33%;
}

form div {
  clear: both;
}

form input.submitBtn {
  border-radius: 2em;
  background-color: #ea7317ff;
  font-size: 1.25em;
  font-family: 'Merriweather Sans', Calibri, sans-serif;
  font-weight: 800;
  padding: .5em;
}

form input.submitBtn:hover {
  border-radius: 1.2rem;
  background-color: #2364aaff;
  color: #ffffff;
  font-size: 1.25em;
  font-family: 'Merriweather Sans', Calibri, sans-serif;
  font-weight: 800;
  padding: .5em;
}

/* Thank you page */
#thanks h1, #construction h1{
  padding: 0;
}

/* end of code */