@media all {
  body {
    font-size: 5vw;
  }
  .article-info{
    font-size: .5em;
  }

  main {
    padding: 2em;
    max-width: 1200px;
    margin: 0 auto;
  }

  img,
  li,
  select,
  option {
    max-width: 100%;
  }

  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: rgba(0, 0, 0, 0.8) .25em solid;
  }
  .logo{
    min-width: 100px;
    width: 50%;
    max-width: 15vw;
  }

  nav ul {
    display: flex;
    padding: 0;
  }

  nav ul li{
    display: block;
    list-style-type: none;
    padding: 2vw;
  }

  #top {
    position: fixed;
    right: 1em;
    bottom: 1em;
    border-radius: 1em;
    border: .25em rgb(250, 250, 250) solid;
    background-color: rgb(51, 87, 163);
  }

  #top:hover{
    background-color: rgb(16, 27, 51);
  }

  #top a{
    text-decoration: none;
    color: rgb(250, 250, 250);
    font-size: .5em;
    padding: 0 1em;
    line-height: 3em;
    max-width: 30px;
  }
}

/* NOTE THE ORDER HERE IS HIGH TO LOW*/
@media screen and (min-width: 50em) {
  body {
    font-size: 3vw;
  }

  main {
    background-color: black;
    color: white
  }

  .banner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }
  .banner img{
    grid-column: 1/-1;
    grid-row: 1;
    width: 100%;
  }
  .banner-text{
    /* Sets the text to a grid position. */
    grid-column: 1/3;
    grid-row: 1;
    background-color: rgba(221, 221, 221, 0.8);
    border-radius: 1em;
    height: 80%;
    width: 75%;
    /* Changes how the text inside this div will
    be displayed. In this case, I'll center the text
    in the vertical and horizontal center.*/
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: .75em;
  }

  .banner-text * {
    margin: 0;
    padding: 0 2.5vw;
  }

  #top{
    border-color: rgb(143, 143, 143);
  }

}

@media screen and (max-width: 50em) {
  main {
    background-color: rgb(142, 207, 142);
    color: rgb(0, 0, 0);
  }

}

@media screen and (max-width: 30em) {
  main {
    background: rgb(100, 20, 35);
    color: rgb(250, 250, 250);
  }
}

/* PRINTERS */
@media print {
  body {
    color: rgb(0, 0, 0);
    font-size: 36pt;
  }

  header, #top {
    display: none;
  }

  img {
    float: left;
    width: 50%;
    padding: 1em;
  }
  h1{
    margin: 0;
    padding: 0;
  }
}

/*
@media print {
  * {
    display: none;
  }
}
*/