/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {
  header {
    grid-template-columns: 1fr max-content 1fr 1fr;
    margin: auto;
    box-shadow: none;
  }

  .logo-box {
    grid-column: 2;
  }

  header button {
    display: none;
  }

  #primaryNav {
    display: block;
  }

  nav {
    grid-column: 1/-1;
    grid-row: 2;
    width: 100%;
    justify-self: center;
  }

  nav ul {
    display: flex;
    justify-items: center;
    margin: 0 auto;
    max-width: 1000px;
  }

  nav ul li {
    display: flex;
    margin: 0 auto;
  }

  .nav-link {
    padding: .8rem 1rem;
  }

  main,
  footer {
    max-width: 1000px;
    margin: 0 auto;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: #2364aaff;
    height: fit-content;
  }

  .hero picture {
    grid-column: 1/-1;
    grid-row: 1;
  }

  .hero-text {
    grid-column: 1/2;
    grid-row: 1;
    background: rgba(0, 0, 0, 0.65);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    color: #ffffff;
    padding: 0 5vw;
    justify-self: center;
    align-self: flex-end;
    font-size: 16pt;
    min-width: 350px;
    transition: .5s;
  }

  .hero-text h2 {
    margin: 0;
    padding-top: 1em;
  }

  .hero-text ul {
    padding: 0;
    padding-bottom: 1em;
    list-style-type: none;
  }

  .hero-text li {
    font-size: 1em;
    line-height: 2em;
  }

  .five-day figcaption p {
    font-size: 1em;
  }

  article{
    padding: 1em 3em;
  }

  .clearfix p {
    float: left;
    width: 60%;
    padding-top: 2.5em;
  }

  .clearfix img {
    float: right;
    width: 35%;
  }

  section {
    margin: 3em 0;
  }

  footer {
    padding-top: 1em;
    font-size: 2vh;
  }

  /* Gallery Styles */
  .img-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* Hover only on large view */
  .img-box:hover {
    box-shadow: .15em .1em .85em;
  }

  /* Home Page Towns Styles */
  .towns {
    display: flex;
  }

  .towns article,
  .towns article:nth-child(even) {
    max-width: 33.33%;
    flex-direction: column;
  }
}

/*end large */